*{
    padding:0;
    margin:0;
}
.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:100%;
    background-color: #000; 
    gap: 10px;
}
.card{
background-color: aliceblue;
height: 100px;
width: 200px;
padding:10px;
border: 3px solid red;

}